In [1]:
#import libraries
import pandas as pd
from datetime import datetime, timedelta
import hashlib
import numpy as np

In [2]:
# Create an empty DataFrame to store the data
all_data = pd.DataFrame()

# Loop through years from 2007 to 2008
#file naming structure changes in 2009 so that will be done in a diffrent loop
for year in range(2007, 2023):
    path = f'data/IntGenByFuel{year}.xls'
    months = ('Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec')
    year_data = pd.DataFrame()

    # Loop through months for the current year
    for month in months:

        #account for misslabeling in october of 2007
        if month == 'Oct' and year == 2007:
            fuel_month = pd.read_excel(path, sheet_name=f'{month}{year}', index_col=0)
            col_list = list(year_data.columns)
            miss_label = list(fuel_month.columns)
            #correct misslabel
            fuel_month.columns = col_list
            fuel_month['Fuel'] = fuel_month.index.str.split(' - ').str[1]
            year_data = year_data.append(fuel_month)

        elif year == 2011:
            fuel_month = pd.read_excel(path, sheet_name=f'{month}{str(year)[-2:]}', index_col=0)
            #rename the index to match naming pattern
            fuel_month.index = fuel_month.index.strftime('%Y-%m-%d') + ' - ' + fuel_month['Fuel']
            fuel_month = fuel_month.drop(columns=['Fuel'])
            #filter out old index records
            fuel_month = fuel_month[fuel_month.index.str.contains('-')]
            year_data = year_data.append(fuel_month)            

        elif year > 2008 and year < 2016 and year != 2011:
            fuel_month = pd.read_excel(path, sheet_name=f'{month}{str(year)[-2:]}', index_col=0)
            fuel_month['Fuel'] = fuel_month.index.str.split(' - ').str[1]
            year_data = year_data.append(fuel_month)

        elif year == 2016:
            path = f'data/IntGenByFuel{year}.xlsx'
            fuel_month = pd.read_excel(path, sheet_name=f'{month}{str(year)[-2:]}', index_col=0)
            fuel_month['Fuel'] = fuel_month.index.str.split(' - ').str[1]
            year_data = year_data.append(fuel_month)

        elif year > 2016:
            path = f'data/IntGenByFuel{year}.xlsx'
            fuel_month = pd.read_excel(path, sheet_name=f'{month}', index_col=0)
            year_data = year_data.append(fuel_month)
        

        else:   
            fuel_month = pd.read_excel(path, sheet_name=f'{month}{year}', index_col=0)
            year_data = year_data.append(fuel_month)
        
    # Append the data for the current year to the all_data DataFrame
    all_data = all_data.append(year_data)

# The all_data DataFrame now contains the data from all months and years
all_data

,Daily MWH,00:15:00,00:30:00,00:45:00,01:00:00,01:15:00,01:30:00,01:45:00,02:00:00,02:15:00,...,22:45,23:00,23:15,23:30,23:45,0:00,01:15 (DST),01:30 (DST),01:45 (DST),02:00 (DST)
01/01/07 - Coal,314608.639900,3376.329577,3368.077206,3365.003007,3364.700590,3337.219223,3340.401121,3338.779986,3341.014301,3375.998789,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
01/01/07 - Gas,272456.952300,2250.333739,2252.727205,2257.902081,2259.768252,2204.443372,2170.116980,2178.863551,2179.605680,2140.655363,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
01/01/07 - Hydro,688.956912,3.814499,3.809214,3.811659,3.810560,3.810705,3.773842,3.772936,3.637019,3.350387,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
01/01/07 - Nuclear,120060.021600,1250.245128,1249.936172,1250.009397,1250.187850,1250.503540,1250.240947,1250.433454,1250.212841,1250.094833,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
01/01/07 - Oth,3743.903058,40.970577,41.076414,40.996679,41.211779,39.875432,38.641280,39.789598,39.754927,39.909498,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-31 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1277.521610,1277.601614,1277.509454,1277.312147,1277.488193,1277.276178,NaN,NaN,NaN,NaN
2022-12-31 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.097469,5.219245,18.643366,15.002416,4.763281,1.580591,NaN,NaN,NaN,NaN
2022-12-31 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN
2022-12-31 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-57.648902,-52.646814,-20.507550,-10.509732,-10.269654,-44.427072,NaN,NaN,NaN,NaN
2022-12-31 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5627.661612,5613.644307,5509.516104,5489.178341,5450.046703,5506.060958,NaN,NaN,NaN,NaN

In [10]:
# Create an empty DataFrame to store the data
all_data = pd.DataFrame()

# Loop through years from 2007 to 2022
for year in range(2007, 2023):
    path = f'data/IntGenByFuel{year}.xls'
    months = ('Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec')
    year_data = pd.DataFrame()

    # Loop through months for the current year
    for month in months:
        if month == 'Oct' and year == 2007:
            fuel_month = pd.read_excel(path, sheet_name=f'{month}{year}', index_col=0)
            col_list = fuel_month.columns.tolist()
            fuel_month.columns = col_list
            fuel_month.index = pd.to_datetime(fuel_month.index, errors='coerce', format='%m/%d/%y - %H:%M %p').tz_localize('UTC')
            fuel_month['Fuel'] = fuel_month.index.astype(str).str.split(' - ').str[1]
            fuel_month['Demand'] = fuel_month[col_list].sum(axis=1)
            fuel_month = fuel_month[['Fuel', 'Demand']].reset_index()
            year_data = year_data.append(fuel_month)

        elif year == 2011:
            fuel_month = pd.read_excel(path, sheet_name=f'{month}{str(year)[-2:]}', index_col=0)
            col_list = fuel_month.columns.tolist()
            fuel_month.index = pd.to_datetime(fuel_month.index, errors='coerce', format='%m/%d/%y - %H:%M %p').tz_localize('UTC')
            fuel_month['Fuel'] = fuel_month['Fuel']
            fuel_month['Demand'] = fuel_month[col_list].sum(axis=1)
            fuel_month = fuel_month[['Fuel', 'Demand']].reset_index()
            year_data = year_data.append(fuel_month)

        elif year > 2008 and year < 2016 and year != 2011:
            fuel_month = pd.read_excel(path, sheet_name=f'{month}{str(year)[-2:]}', index_col=0)
            col_list = fuel_month.columns.tolist()
            fuel_month['Fuel'] = fuel_month.index.astype(str).str.split(' - ').str[1]
            fuel_month.index = pd.to_datetime(fuel_month.index, errors='coerce', format='%m/%d/%y - %H:%M %p').tz_localize('UTC')
            fuel_month['Demand'] = fuel_month[col_list].sum(axis=1)
            fuel_month = fuel_month[['Fuel', 'Demand']].reset_index()
            year_data = year_data.append(fuel_month)

        elif year == 2016:
            path = f'data/IntGenByFuel{year}.xlsx'
            fuel_month = pd.read_excel(path, sheet_name=f'{month}{str(year)[-2:]}', index_col=0)
            col_list = fuel_month.columns.tolist()
            fuel_month['Fuel'] = fuel_month.index.astype(str).str.split(' - ').str[1]
            fuel_month.index = pd.to_datetime(fuel_month.index, errors='coerce', format='%m/%d/%y - %H:%M %p').tz_localize('UTC')
            fuel_month['Demand'] = fuel_month[col_list].sum(axis=1)
            fuel_month = fuel_month[['Fuel', 'Demand']].reset_index()
            year_data = year_data.append(fuel_month)

        elif year > 2016:
            path = f'data/IntGenByFuel{year}.xlsx'
            fuel_month = pd.read_excel(path, sheet_name=f'{month}', index_col=0)
            col_list = fuel_month.columns.tolist()
            fuel_month.index = pd.to_datetime(fuel_month.index, errors='coerce', format='%m/%d/%y - %H:%M %p').tz_localize('UTC')
            fuel_month['Fuel'] = fuel_month.index.astype(str).str.split(' - ').str[1]
            fuel_month['Demand'] = fuel_month[col_list].sum(axis=1)
            fuel_month = fuel_month[['Fuel', 'Demand']].reset_index()
            year_data = year_data.append(fuel_month)

        else:   
            fuel_month = pd.read_excel(path, sheet_name=f'{month}{year}', index_col=0)
            col_list = fuel_month.columns.tolist()
            fuel_month.index = pd.to_datetime(fuel_month.index, errors='coerce', format='%m/%d/%y - %H:%M %p').tz_localize('UTC')
            fuel_month['Fuel'] = fuel_month.index.astype(str).str.split(' - ').str[1]
            fuel_month['Demand'] = fuel_month[col_list].sum(axis=1)
            fuel_month = fuel_month[['Fuel', 'Demand']].reset_index()
            year_data = year_data.append(fuel_month)
        
    # Append the data for the current year to the all_data DataFrame
    all_data = all_data.append(year_data)

# The all_data DataFrame now contains the reshaped data with columns for Date and Time, Fuel, and Demand
print(all_data)

    Date - Fuel  Fuel         Demand DateFuel Date-Fuel  \
0           NaT   NaN  629217.279792      NaT       NaT
1           NaT   NaN  544913.904602      NaT       NaT
2           NaT   NaN    1377.913824      NaT       NaT
3           NaT   NaN  240120.043186      NaT       NaT
4           NaT   NaN    7487.806116      NaT       NaT
..          ...   ...            ...      ...       ...
305         NaT   NaN  245402.146536      NaT       NaT
306         NaT   NaN    3164.960676      NaT       NaT
307         NaT   NaN   72936.609972      NaT       NaT
308         NaT   NaN   -4026.867786      NaT       NaT
309         NaT   NaN  895599.084165      NaT       NaT

                         Date
0                         NaT
1                         NaT
2                         NaT
3                         NaT
4                         NaT
..                        ...
305 2022-12-31 00:00:00+00:00
306 2022-12-31 00:00:00+00:00
307 2022-12-31 00:00:00+00:00
308 2022-12-31 00:00:00+00:00
309 2022-12-31 00:00:00+00:00

[48992 rows x 6 columns]

In [3]:
#all_data['Total'] = all_data['Total'].fillna(all_data['Daily MWH'])
#all_data[all_data.columns[96]] = all_data[all_data.columns[96]].fillna(all_data[all_data.columns[97]])
#all_data = all_data.drop(columns=['Daily MWH',all_data.columns[97]])

In [11]:

all_data.to_csv('test_output.csv', index=True)

In [3]:
# Create an empty DataFrame to store the data
all_data = pd.DataFrame()

# Loop through years from 2007 to 2022
for year in range(2007, 2023):
    path = f'data/IntGenByFuel{year}.xls'
    months = ('Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec')
    year_data = pd.DataFrame()

    # Loop through months for the current year
    for month in months:
        if month == 'Oct' and year == 2007:
            fuel_month = pd.read_excel(path, sheet_name=f'{month}{year}', index_col=0)
            data_pivot = fuel_month.pivot
            #col_list = fuel_month.columns.tolist()
            #fuel_month.columns = col_list
            #fuel_month.index = pd.to_datetime(fuel_month.index, errors='coerce', format='%m/%d/%y - %H:%M %p').tz_localize('UTC')
            #fuel_month['Fuel'] = fuel_month.index.astype(str).str.split(' - ').str[1]
            #fuel_month['Demand'] = fuel_month[col_list].sum(axis=1)
            #fuel_month = fuel_month[['Fuel', 'Demand']].reset_index()
            #year_data = year_data.append(fuel_month)


                # Append the data for the current year to the all_data DataFrame
    all_data = all_data.append(year_data)

# The all_data DataFrame now contains the reshaped data with columns for Date and Time, Fuel, and Demand
print(all_data)

Empty DataFrame
Columns: []
Index: []

In [4]:
# Create a sample DataFrame
data = {
    'Date': ['2022-01-01', '2022-01-01', '2022-01-02', '2022-01-02'],
    'Category': ['A', 'B', 'A', 'B'],
    'Value': [10, 20, 30, 40]
}

df = pd.DataFrame(data)

# Display the original DataFrame
print("Original DataFrame:")
df

Original DataFrame:

         Date Category  Value
0  2022-01-01        A     10
1  2022-01-01        B     20
2  2022-01-02        A     30
3  2022-01-02        B     40

In [5]:
# Pivot the DataFrame
pivot_df = df.pivot(index='Date', columns='Category', values='Value')

# Display the pivoted DataFrame
print("\nPivoted DataFrame:")
pivot_df

Pivoted DataFrame:

Category     A   B
Date
2022-01-01  10  20
2022-01-02  30  40

In [10]:
#months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
years = [2007, 2008, 2009, 2010, 2012, 2013, 2014, 2015,  2016, 2017, 2018, 2019, 2020, 2021, 2022]
#years = [2016]
fuel_year = pd.DataFrame()
for year in years:
    path = f'data/IntGenByFuel{year}.xls'

    if year < 2009 :
        for month in months :
            fuel_month = pd.read_excel(path, sheet_name=f'{month}{year}', index_col=0, header=None)
            fuel_month['Date'] = fuel_month.index.str.split('-', 1).str[0]
            fuel_month['Fuel'] = fuel_month.index.str.split('-', 1).str[1]
            fuel_year = fuel_year.append(fuel_month)

    elif year == 2009 or year == 2010:
        for month in months :
            fuel_month = pd.read_excel(path, sheet_name=f'{month}{str(year)[-2:]}', index_col=0, header=None)
            fuel_month['Date'] = fuel_month.index.str.split('-', 1).str[0]
            fuel_month['Fuel'] = fuel_month.index.str.split('-', 1).str[1]
            fuel_year = fuel_year.append(fuel_month)

    elif year == 2012:
        for month  in months:
            if month in ['Jan', 'Feb', 'Mar', 'Apr','Jun']:
                fuel_month = pd.read_excel(path, sheet_name=f'{month}{str(year)[-2:]}', index_col=0, header=None)
                fuel_month['Date'] = fuel_month.index.str.split('-', 1).str[0]
                fuel_month['Fuel'] = fuel_month.index.str.split('-', 1).str[1]
                fuel_year = fuel_year.append(fuel_month) 
            else :#elif month in ['May', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']:
                fuel_month = pd.read_excel(path, sheet_name=f'{month}{str(year)[-2:]}', index_col=0, header=None)
                fuel_month['Date'] = fuel_month.index.str.split('_', 1).str[0]
                fuel_month['Fuel'] = fuel_month.index.str.split('_', 1).str[1]
                fuel_year = fuel_year.append(fuel_month) 
        
    elif year == 2013 or year == 2014 or year == 2015:
        for month in months :
            fuel_month = pd.read_excel(path, sheet_name=f'{month}{str(year)[-2:]}', index_col=0, header=None)
            fuel_month['Date'] = fuel_month.index.str.split('_', 1).str[0]
            fuel_month['Fuel'] = fuel_month.index.str.split('_', 1).str[1]
            fuel_year = fuel_year.append(fuel_month) 
    
    elif year == 2016:
        path = f'data/IntGenByFuel{year}.xlsx'
        for month in months:
            fuel_month = pd.read_excel(path, sheet_name=f'{month}{str(year)[-2:]}', index_col=0, header=None)
            fuel_month['Date'] = fuel_month.index.str.split('_', 1).str[0]
            fuel_month['Fuel'] = fuel_month.index.str.split('_', 1).str[1]
            fuel_year = fuel_year.append(fuel_month) 

    elif year > 2016:
        path = f'data/IntGenByFuel{year}.xlsx'
        for month in months:
            fuel_month = pd.read_excel(path, sheet_name=f'{month}', index_col=0, header=None)
            fuel_month['Date'] = fuel_month.index
            fuel_month['Fuel'] = fuel_month.iloc[:, 0]
            fuel_month = fuel_month.drop(fuel_month[fuel_month['Date'] == 'Date'].index)
            fuel_month['Date'] = pd.to_datetime(fuel_month['Date']).dt.date

            fuel_month['Date'] = fuel_month['Date'].astype(str)
            fuel_month['Fuel'] = fuel_month['Fuel'].astype(str)

            # Concatenate 'Date' and 'Fuel' columns with an underscore between them
            fuel_month['New_Index'] = fuel_month['Date'] + '_' + fuel_month['Fuel']

            # Set this new column as the index
            fuel_month.set_index('New_Index', inplace=True)
            
            fuel_month.drop(fuel_month.columns[0], axis=1, inplace=True)
            fuel_month.drop(fuel_month.columns[0], axis=1, inplace=True)
           
           
           
           
            # if fuel_month.shape[1] == 99:
            #     # Add 4 new columns with default values or NaNs
            #     for i in range(1, 5):
            #         fuel_month[f'New_Column_{i}'] = np.nan
            
            rename_dict = {i: i - 2 for i in range(3, 103)}  # Subtracting 2 from each column index

            # Rename the columns
            fuel_month.rename(columns=rename_dict, inplace=True)

            # Standardize the number of columns
            #standard_columns = range(103)  # Assuming 103 is the maximum number of columns
            #fuel_month = fuel_month.reindex(columns=range(0,103))

            #fuel_month.set_axis(range(0,103) ,axis = 1)
            # integer_columns = [col for col in fuel_month.columns if isinstance(col, int)]
            # fuel_month[integer_columns] = fuel_month[integer_columns] - 2


            fuel_year = fuel_year.append(fuel_month) 
    

# # Drop rows with the index 'DateFuel'
fuel_year = fuel_year.drop('DateFuel')

# # Drop rows with the index 'Date - Fuel'
fuel_year = fuel_year.drop('Date - Fuel')

# # Drop rows with the index 'Date-Fuel'
fuel_year = fuel_year.drop('Date-Fuel')

# # Drop rows with the index 'Date'
#fuel_year = fuel_year.drop(fuel_year[fuel_year['Date'] == 'Date'].index)



fuel_year

,1,2,3,4,5,6,7,8,9,10,...,95,96,97,Date,Fuel,98,99,100,101,103
01/01/07 - Coal,314609,3376.33,3368.08,3365,3364.7,3337.22,3340.4,3338.78,3341.01,3376,...,3357.61,3362.5,3362.49,01/01/07,Coal,NaN,NaN,NaN,NaN,NaN
01/01/07 - Gas,272457,2250.33,2252.73,2257.9,2259.77,2204.44,2170.12,2178.86,2179.61,2140.66,...,2773.19,2711.46,2627.17,01/01/07,Gas,NaN,NaN,NaN,NaN,NaN
01/01/07 - Hydro,688.957,3.8145,3.80921,3.81166,3.81056,3.81071,3.77384,3.77294,3.63702,3.35039,...,2.61463,2.62372,2.73706,01/01/07,Hydro,NaN,NaN,NaN,NaN,NaN
01/01/07 - Nuclear,120060,1250.25,1249.94,1250.01,1250.19,1250.5,1250.24,1250.43,1250.21,1250.09,...,1251.53,1251.65,1251.45,01/01/07,Nuclear,NaN,NaN,NaN,NaN,NaN
01/01/07 - Oth,3743.9,40.9706,41.0764,40.9967,41.2118,39.8754,38.6413,39.7896,39.7549,39.9095,...,37.8521,38.458,46.6954,01/01/07,Oth,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-31_Nuclear,122701,1278.62,1278.84,1278.69,1278.88,1278.68,1278.99,1278.45,1278.9,1278.72,...,1277.31,1277.49,1277.28,2022-12-31,Nuclear,NaN,NaN,NaN,NaN,NaN
2022-12-31_Other,1582.48,2.56935,14.9817,20.1096,8.17728,6.60321,4.80216,5.80539,10.9458,11.7809,...,15.0024,4.76328,1.58059,2022-12-31,Other,NaN,NaN,NaN,NaN,NaN
2022-12-31_Solar,36468.3,0,0,0,0,0,0,0,0,0,...,0,0,0,2022-12-31,Solar,NaN,NaN,NaN,NaN,NaN
2022-12-31_WSL,-2013.43,-45.2371,-10.0642,-3.17291,-4.11648,-14.1867,-34.3552,-17.5196,-4.20044,-3.06827,...,-10.5097,-10.2697,-44.4271,2022-12-31,WSL,NaN,NaN,NaN,NaN,NaN
2022-12-31_Wind,447800,3953.6,4010.65,4045.8,4029.71,4069.9,4069.96,4027.61,4028.22,4064.14,...,5489.18,5450.05,5506.06,2022-12-31,Wind,NaN,NaN,NaN,NaN,NaN

In [11]:
# Define a hash function using hashlib.sha256
def hash_value(value):
    return hashlib.sha256(value.encode()).hexdigest()

In [12]:
null_index = fuel_year.index.isnull()

# Filter the DataFrame to only include rows with a null index
rows_with_null_index = fuel_year[null_index]

rows_with_null_index

,1,2,3,4,5,6,7,8,9,10,...,95,96,97,Date,Fuel,98,99,100,101,103
NaN,2.21679e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:


# Create an empty DataFrame to store transposed rows
full_data = pd.DataFrame()
# Iterate over each row in the original DataFrame
for index, row in fuel_year.iterrows():
    # Remove the current row from the original DataFrame
    if index != 'Date - Fuel' and index != 'DateFuel' :

        modified_df = fuel_year.drop(index)
        fuel_type = row['Fuel']
        fuel_date = row['Date']#.astype(str)
        # Transpose the row and convert it to a DataFrame
        transposed_row = row.transpose()
        transposed_df = pd.DataFrame(transposed_row)

        # Concatenate the transposed row with the modified DataFrame
        #transposed_df = pd.concat([full_data, transposed_row], ignore_index=False)
        transposed_df['Fuel'] = fuel_type
        transposed_df['Date'] = fuel_date
        #transposed_df['Date'] = transposed_df['Date'].astype(str)

        transposed_df = transposed_df.drop('Fuel', axis=0)
        transposed_df = transposed_df.drop('Date', axis=0)

        # Reset the index to ensure that index 0 is present in the columns
        transposed_df.reset_index(drop=True, inplace=True)
        transposed_df.rename(columns={transposed_df.columns[0]: 'Demand'}, inplace=True)
        MWH = transposed_df.loc[0, 'Demand']
        transposed_df['Daily MWH'] = MWH
        # Drop the first row of the DataFrame
        transposed_df.drop(transposed_df.index[0], inplace=True)

        # Reset the index after dropping the first row
        transposed_df.reset_index(drop=True, inplace=True)

        transposed_df['Time'] = pd.to_datetime(transposed_df['Date']) + pd.to_timedelta((transposed_df.groupby('Date').cumcount() * 15), unit='minutes')
        transposed_df['Time'] = transposed_df['Time'].dt.time


        # Combine 'Date', 'Time', and 'Fuel' columns to create a new column 'Combined'
        transposed_df['Combined'] = transposed_df['Date'].astype(str) + transposed_df['Time'].astype(str) + transposed_df['Fuel'].astype(str)
        # Apply the hash function to the 'Combined' column to create a new column 'HashedIndex'
        transposed_df['HashedIndex'] = transposed_df['Combined'].apply(hash_value)

        # Set the 'HashedIndex' column as the DataFrame index
        transposed_df.set_index('HashedIndex', inplace=True)

        full_data = full_data.append(transposed_df, ignore_index=False)
       

#transposed_df
full_data
#transposed_row

,Demand,Fuel,Date,Daily MWH,Time,Combined
HashedIndex,,,,,,
f30e839570c87617aa4df1fc6a0b4d2ba27811c5f225a5135c480637bdd0d2ea,3376.33,Coal,01/01/07,314608.639900,00:00:00,01/01/07 00:00:00 Coal
ede6098380c10e48d944288c220849403128f8752402f49d45078e92f3f37d2a,3368.08,Coal,01/01/07,314608.639900,00:15:00,01/01/07 00:15:00 Coal
be6c8a673a21a9c147a33b75f67679120aa352334e59ba19297f2e4fa3cd9b63,3365,Coal,01/01/07,314608.639900,00:30:00,01/01/07 00:30:00 Coal
8643933102baf47f748061b6375c2c8f94020317879c88e15347c5a7e6ac04da,3364.7,Coal,01/01/07,314608.639900,00:45:00,01/01/07 00:45:00 Coal
062914c5cf4d65b47050e75008fbd3ea78ba8a18f212a03c7fb0691fe812f4d0,3337.22,Coal,01/01/07,314608.639900,01:00:00,01/01/07 01:00:00 Coal
...,...,...,...,...,...,...
2da455dab8b8f020b3b491997ebaa2fac1087291950e8ada32d2f46b6eae6cd0,NaN,Wind,2022-12-31,447799.542082,00:00:00,2022-12-3100:00:00Wind
d586f9dd683276785d6a5b0a014194bb48c49341e101715cf2d5b06b751a5a86,NaN,Wind,2022-12-31,447799.542082,00:15:00,2022-12-3100:15:00Wind
253d9cd8e94caccd739a4ae1d8439418b6d4c1cda4733159838ad38b7149159a,NaN,Wind,2022-12-31,447799.542082,00:30:00,2022-12-3100:30:00Wind
e891923a8d1ff0328047ea433e5fb87d91d1c8f923388103398c729ffb040d55,NaN,Wind,2022-12-31,447799.542082,00:45:00,2022-12-3100:45:00Wind
af96e43aaba73470a6d1ae6ffc171ae21264249ecdefb7d7c99a6b72b5eaeecf,NaN,Wind,2022-12-31,447799.542082,01:00:00,2022-12-3101:00:00Wind

In [15]:
fuel_year.to_csv('test_output.csv', index=True)